# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [112]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [126]:
link = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo=pd.read_csv(link, ('\t'))
chipo.info()
chipo.head(5)
chipo['item_price'] = chipo['item_price'].str.slice(1).astype(float)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### Step 4. How many products cost more than $10.00?

In [127]:
r = chipo['item_name'].unique()
t = chipo.drop_duplicates( keep=False, inplace = True)
chip = (chipo[(chipo['item_price'] >10) & (chipo['quantity'] == 1)])
print(chip['item_name'].unique())


#t = chipo.drop_duplicates(['item_name'], keep=False, inplace = True)

['Chicken Bowl' 'Steak Burrito' 'Chicken Burrito' 'Barbacoa Bowl'
 'Veggie Burrito' 'Veggie Bowl' 'Chicken Soft Tacos' 'Steak Bowl'
 'Carnitas Burrito' 'Carnitas Bowl' 'Barbacoa Burrito'
 'Barbacoa Crispy Tacos' 'Veggie Salad Bowl' 'Chicken Salad'
 'Chicken Crispy Tacos' 'Steak Salad Bowl' 'Veggie Soft Tacos'
 'Barbacoa Soft Tacos' 'Carnitas Crispy Tacos' 'Carnitas Salad Bowl'
 'Chicken Salad Bowl' 'Barbacoa Salad Bowl' 'Steak Soft Tacos'
 'Carnitas Soft Tacos' 'Steak Crispy Tacos']

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [116]:

chip[chip[['item_name'].unique()], chip['item_price']]

AttributeError: 'list' object has no attribute 'unique'

### Step 6. Sort by the name of the item

In [117]:
chipo['item_name'].sort_values()

3600    6 Pack Soft Drink
1026    6 Pack Soft Drink
1937    6 Pack Soft Drink
1124    6 Pack Soft Drink
341     6 Pack Soft Drink
721     6 Pack Soft Drink
879     6 Pack Soft Drink
4535    6 Pack Soft Drink
1279    6 Pack Soft Drink
1922    6 Pack Soft Drink
3693    6 Pack Soft Drink
357     6 Pack Soft Drink
2860    6 Pack Soft Drink
1916    6 Pack Soft Drink
3389    6 Pack Soft Drink
4363    6 Pack Soft Drink
3836    6 Pack Soft Drink
4359    6 Pack Soft Drink
3789    6 Pack Soft Drink
4169    6 Pack Soft Drink
2374    6 Pack Soft Drink
3633    6 Pack Soft Drink
417     6 Pack Soft Drink
639     6 Pack Soft Drink
2389    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
388     6 Pack Soft Drink
3422    6 Pack Soft Drink
1849    6 Pack Soft Drink
              ...
2996         Veggie Salad
4084         Veggie Salad
1694         Veggie Salad
3471         Veggie Salad
3163         Veggie Salad
4109    Veggie Salad Bowl
1884    Veggie Salad Bowl
186     Veggie Salad Bowl
4201    Veggie Salad Bowl
295     Veggie Salad Bowl
2683    Veggie Salad Bowl
960     Veggie Salad Bowl
4541    Veggie Salad Bowl
455     Veggie Salad Bowl
3293    Veggie Salad Bowl
2223    Veggie Salad Bowl
2269    Veggie Salad Bowl
4261    Veggie Salad Bowl
4573    Veggie Salad Bowl
3223    Veggie Salad Bowl
2156    Veggie Salad Bowl
496     Veggie Salad Bowl
1316    Veggie Salad Bowl
1699    Veggie Soft Tacos
2851    Veggie Soft Tacos
781     Veggie Soft Tacos
2384    Veggie Soft Tacos
738     Veggie Soft Tacos
3889    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4507, dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

In [123]:
chipo.iloc[chipo['item_price'].idxmax()]

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                   44.25
Name: 3598, dtype: object

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [129]:
len(chipo[chipo['item_name']== 'Veggie Salad Bowl'])

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
dtype: int64

### Step 9. How many times did someone order more than one Canned Soda?

In [135]:
len(chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)])

20